.testimony{
  align-items: center;
  background-color: #C3191908;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 405px;
  justify-content: space-evenly;
  margin: 3rem auto;
  padding: 4rem;
  width: 75%;
}

.testimony__subtitle{
  color: var(--main-red-color);
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.testimony__title{
  color: var(--main-text-color);
  font-size: 2.25rem;
  font-weight:500;
  line-height: 2.75rem;
  text-align: center;
}

.testimony__figure{
  margin: 1.5rem 0 0;
  text-align: center;
}

.figure__image{
  border-radius: 100%;
}

.figure__description{
  color: var(--main-text-color);
  font-size: 1rem;
  line-height: 1.5rem
}

.figure__description span{
  color: var(--paragraph-color);
  font-size: .875rem;
  line-height: 1.25rem
}