.destaques{
  background-color: var(--azul-claro);
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.destaques__titulo{
  color: var(--cinza-escuro);
  font: 700 1.5rem var(--monteserrat);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.destaques__painel{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.destaques__painel-imagem{
  box-shadow: 0 5px 10px 5px #00000033;
  margin-bottom: 0.5rem;
  max-width: 550px;
  width: 100vw; /*VW means Viewport Width, which means this element will occupy 100% of screen space and it doesn't depend on padding settings*/
}

.destaques__painel-texto {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: normal;
}

.destaques__botao{
  border-color: var(--vermelho-forte);
  color: var(--vermelho-forte);
  margin: 0 auto;
}